.course-cards {
    display: flex;
    flex-direction: column;
}

.course-card {
    width: 80%;
    background-color: $color-dark;
    margin: 3.5rem 0;
    display: inline;
    border-radius: 0.4rem;
    padding: 1rem;
    box-shadow: $shadow-default;

    &__title {
        // width: 100%;
        font-size: 4rem;
        word-wrap: break-word;
        padding: 0 1rem;
        font-weight: 300;
        color: $color-lighter;
    }
}

.progress-bar {
    display: flex;
    background-color: $color-dark;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0.8rem;
    color: $color-lighter;

    &__bar {
        flex: 0 0 80%;
        background-color: $color-primary;
        width: 40%;
        // margin-left: 1rem;
        border-radius: 1rem;
        overflow: hidden;
    }

    &__colored {
        background-color: $color-progress;
        width: 30%;
        clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    }

    &__count {
        flex: 1;
        text-align: center;
        font-size: 1.6rem;
    }
}
