.simulation {
    display: flex;
    height: 60rem;

    &__tasks {
        flex: 0 0 30rem;
        // background-color: red;
        border-right: 2px solid black;
        background-color: $color-primary;
        box-shadow: $shadow-default;
        padding: 3rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;

        & h2 {
            font-size: 3rem;
            margin-bottom: 2rem;
            color: $color-lightest;
        }
    }

    &__next-btn {
        margin-top: auto;
    }

    &__display {
        flex: 1;
        // background-color: blue;
    }

    &__frame {
        width: 100%;
        height: 100%;
        border: none;
    }
}

.question {
    margin-bottom: 2rem;
    transition: all 0.2s;

    display: flex;
    flex-direction: column;
    pointer-events: none;

    //a bit darker that color-ligher
    color: darken($color-lighter, 10);

    &__text {
        margin-bottom: 1rem;
        font-size: 1.6rem;
    }

    &__input {
        background: darken($color-lighter, 10);
        display: block;
        font-size: 1.5rem;
        padding: 0.4rem;
        margin-bottom: 1rem;
        border: none;
        border-radius: $default-radius;
        border: 0.15rem solid transparent;
        outline: 0.15rem solid transparent;
        transition: all 0.2s;
        pointer-events: inherit;
        width: 100%;

        &--error {
            border: 0.15rem solid $color-error !important;
            outline: 0.15rem solid $color-error !important;
            // background-color: green;
        }

        &--success {
            border: 0.15rem solid $color-success;
            outline: 0.15rem solid $color-success;
        }
    }

    &__submit {
        background-color: darken($color-lighter, 10);

        font-size: 1.8rem;
        width: 100%;
        padding: 0.5rem 1rem;
        border: 0.15rem solid darken($color-lighter, 10);
        color: $color-dark;
        cursor: pointer;
        transition: all 0.2s;
        text-decoration: none;
        display: inline-block;
        border-radius: 0.4rem;
        cursor: pointer;
        transition: all 0.2s;
    }

    &--active {
        // color: ;
        color: $color-lightest !important;
        pointer-events: all;

        & .question__input {
            background: $color-lightest;
            color: $color-dark;
        }

        & .question__submit {
            background: $color-lightest;
            border: 0.15rem solid $color-lightest;
            color: $color-dark;
            transition: all 0.2s;

            &:hover {
                background-color: darken($color-lighter, 10);
                border: 0.15rem solid darken($color-lighter, 10);
            }
        }

        // background: darken($color-lighter, 10);
    }

    // &__feedback {
    //     font-size: 1.2rem;
    //     margin-bottom: 0.4rem;

    //     &--error {
    //         color: $color-error;
    //     }

    //     &--success {
    //         color: $color-progress;
    //     }

    //     &--invisible {
    //         opacity: 0;
    //     }
    // }
}
