* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    padding: $padding-page-top $padding-page-left;
    // font-family: "Roboto", sans-serif;
    font-family: "__myFont1_71432a", "__myFont1_Fallback_71432a" !important;
    font-weight: 400;
    // line-height: 1.6;
    // color: #333;
    // background-color: #f6f2ff;
    // background-color: $color-darker;
    background-image: linear-gradient(
        to top right,
        $color-dark,
        $color-darker 50%,
        $color-dark
    );
    background-size: cover;
    min-height: 100vh;
}

// body {
//     background-image: linear-gradient(
//         to top right,
//         #262626,
//         #00153e 50%,
//         #262626
//     );
// }
