* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;

    padding: 5rem 10rem;

    // font-family: "Roboto", sans-serif;
    font-weight: 400;
    // line-height: 1.6;
    // color: #333;
    background-color: #f6f2ff;
}
