.page-course-detail {
    max-width: 124rem;
    background-color: #fff;
    border-radius: 0.2rem;
    box-shadow: 0rem 0.6rem 1.5rem rgba(0, 0, 0, 0.45);
}

// body {
//     background-image: linear-gradient(
//         to top right,
//         #262626,
//         #00153e 50%,
//         #262626
//     );
// }
