.page-course-intro {
    max-width: 124rem;
    background-color: $color-dark;
    border-radius: 0.2rem;
    box-shadow: $shadow-default;
    margin: 0 auto;

    &__title {
        margin-bottom: 2rem;
    }

    &__button {
        margin-top: 5rem;
        font-size: 2rem;
        border: 0.15rem solid $color-lighter;
        color: $color-dark;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            background-color: $color-dark;
            color: $color-lighter;
        }
    }

    padding-bottom: 3rem;
}

.course-intro__description {
    color: $color-lighter;
    font-size: 1.6rem;
    font-weight: 400;
}

.course-content {
    padding: 0 5rem;
}
